# Because this is a gem, ignore Gemfile.lock:

Gemfile.lock
gemfiles/*.gemfile.lock

# And because this is Ruby, ignore the following
# (source: https://github.com/github/gitignore/blob/master/Ruby.gitignore):

*.gem
*.rbc
.bundle
.config
lib/bundler/man
pkg
log
rdoc
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

.idea